<% include ./partiels/header %>


<div class="ui main text container segment">
    <div class="ui huge header">Edit <%= entree.titre %></div>
    <!-- Implementation du PUT request -->
    <form class="ui form" action="/entrees/<%= entree._id %>?_method=PUT" method="POST">
    <div class="field">
        <label>Titre</label>
        <input type="text" name="entree[titre]" value="<%= entree.titre %>">
    </div>
    <div class="field">
        <label>Lien d'image</label>
        <input type="text" name="entree[image]" value="<%= entree.image %>">
    </div>
    <div class="field">
        <label>Modifie ton commentaire...</label>
        <textarea name="entree[body]"><%= entree.body %></textarea>
    </div>
        <input class="ui orange inverted big button" type="submit" value="Update">
    </form>
</div>

<% include ./partiels/footer %>
