<% include ./partiels/header %>


<div class="ui main text container">
    <div class="ui huge header"> RESTful Blog App </div>
    <div class="ui top attached segment">
        <div class="ui divided items">



            <% entrees.forEach(function(entree){ %>
            <div class="item">
                <div class="image">
                    <img src="<%= entree.image %>">
                </div>
                <div class="content">
                    <a class="header" href="/entrees/<%= entree._id %>"><%= entree.titre %></a>
                    <div class="meta">
                        <span><%= entree.creation.toDateString() %></span>
                    </div>
                    <div class="description">
                        <p><%- entree.body.substring(0, 100) %>... </p>
                    </div>
                    <div class="extra">
                    <a class="ui floated basic green button" href="/entrees/<%= entree._id %>">
                            Dérouler <i class="right chevron icon"></i>
                        </a></div>
                    </div>
                    <br>
                </div>
                <% }); %>


            </div>
        </div>
    </div>




    <% include partiels/footer %>
