<% include ./partiels/header %>

<div class="ui main text container segment">
    <div class="ui huge header"><%= entree.titre %></div>
    <div class="ui top attached">
        <div class="item">
            <img class="ui centered rounded image" src="<%= entree.image %>">
            <div class="content">
            <span><%= entree.creation.toDateString() %></span>
            </div>
            <div class="description">
            <p><%= entree.body %></p>
            </div>
            <a class="ui blue basic button" href="/entrees/<%= entree.id %>/edit">Edit</a>
            <form action="/entrees/<%= entree._id %>?_method=DELETE" method="POST"  id="delete">
                <button class="ui red basic button">Supprimer Post</button>
            </form>
        </div>
    </div>
    <br>
</div>

<% include ./partiels/footer %>
